// COLOR VARIABLES
$color-primary: #db98ac;
$color-primary-dark: #cd7891;

$color-secondary: #404050;

$color-grey-light-1: #f5f0eb;
$color-grey-light-2: #d9c5c3;

$color-grey-dark-1: #534e5a;
$color-grey-dark-2: #181315;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-phone: 37.5em;    // 600px
$bp-tablet: 50em;     // 800px
$bp-desktop: 62.5em;  // 1000px
$bp-large: 75em;      // 1200px

// BASIC RESET
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px;

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    color: $color-grey-dark-2;
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    & > * {
        font-size: 3rem;
        padding: 40px;
    }

    @media only screen and (max-width: $bp-desktop) {
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-tablet) {
        grid-template-rows: 6rem calc(100vh - 6rem);
    }
}

.hide {
    display: none;
}