.venues {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.venue {
    background-color: $color-grey-light-1;
    border-radius: 3px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 35px;

    &__img {
        border-radius: 3px 3px 0 0;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        width: 100%;
        z-index: 1;
    }

    &__like {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        fill: $color-primary;
        height: 2.5rem;
        justify-self: end;
        margin: 1rem;
        width: 2.5rem;
        z-index: 2;
    }
    &__like:hover {
        cursor: pointer;
    }

    &__name {
        align-self: end;
        background-color: $color-secondary;
        border-radius: 3px;
        color: #ffffff;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        font-family: $font-display;
        font-size: 1.6rem;
        font-weight: 400;
        justify-self: center;
        padding: 1.25rem;
        text-align: center;
        transform: translateY(50%);
        width: 80%;
        z-index: 2;
    }

    &__location, &__guests {
        margin-top: 2.5rem;
    }

    &__location, &__guests, &__season, &__price {
        font-size: 1.5rem;
        margin-left: 2rem;

        display: flex;
        align-items: center;

        svg {
            fill: $color-primary;
            height: 2rem;
            margin-right: 1rem;
            width: 2rem;
        }
    }

    &__icon {
        height: 2rem;
        margin-right: 1rem;
        width: 2rem;
    }

    &__btn {
        grid-column: 1 / -1;
        border-radius: 0 0 3px 3px;
    }
}