.story {
    &__pictures {
        background-image: linear-gradient(rgba(#c69963, 0.2), rgba(#c69963, 0.2)), url(../img/back.jpg);
        background-size: cover;
        grid-column: full-start / col-end 4;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        align-items: center;

        padding: 0;

        @media only screen and (max-width: $bp-tablet) {
            grid-column: 1 / -1;
            padding: 6rem;
        }
    }

    &__img--1 {
        border-radius: 3px;
        box-shadow: 0 2rem 5rem #00000010;
        grid-column: 2 / 6;
        grid-row: 2 / 6;
        width: 100%;

        object-fit: cover;

        @media only screen and (max-width: $bp-tablet) {
            grid-column: 1 / 5;
            grid-row: 1 / -1;

            height: 100%;
            width: 100%;
        }
    }

    &__img--2 {
        border-radius: 3px;
        box-shadow: 0 2rem 5rem #00000020;
        grid-column: 4 / 7;
        grid-row: 4 / 6;
        width: 115%;
        z-index: 20;

        @media only screen and (max-width: $bp-tablet) {
            grid-row: 1 / -1;
            width: 100%;
        }
    }

    &__content {
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;

        padding: 6rem 8vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @media only screen and (max-width: $bp-tablet) {
            grid-column: 1 / -1;
            grid-row: 5 / 6;
        }
    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4rem;
    }

    &__btn {
        border-radius: 3px;
    }
}